<div class='container border'>
  
  <div class='row'>
    <% if @task == current_user.tasks.find(@task.id) %>
      <h1 class='col', align='center'> Task, <%= @task.title %>!</h1>
       
    
    <% end %>
  </div>